
table {
  border-collapse: collapse;
}

.ETable1_1_x {
}

.ETable1_2_x {
}

.ETable1_3_x {
}

.ETable1_4_x {
}

.ETable1_5_x {
}

.ETable1_6_x {
}

.ETable1_7_x {
}

.ETable1_8_x {
}

.ETable1_9_x {
}

.ETable1_x_1 {
}

.ETable1_x_2 {
}

.ETable1_x_3 {
}

.ETable1_x_4 {
}

.ETable1_x_5 {
}

.ETable1_1_1 {
  border-top-width: 0.5pt;
  border-top-style: solid;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_1_1_span {
}

.ETable1_1_2 {
  border-top-width: 0.5pt;
  border-top-style: solid;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: center;
  vertical-align: bottom;
}

.ETable1_1_2_span {
}

.ETable1_1_3 {
  border-top-width: 0.5pt;
  border-top-style: solid;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: center;
  vertical-align: bottom;
}

.ETable1_1_3_span {
}

.ETable1_1_4 {
  border-top-width: 0.5pt;
  border-top-style: solid;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: center;
  vertical-align: bottom;
}

.ETable1_1_4_span {
}

.ETable1_1_5 {
  border-top-width: 0.5pt;
  border-top-style: solid;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: center;
  vertical-align: bottom;
}

.ETable1_1_5_span {
}

.ETable1_2_1 {
  border-top-width: 0.5pt;
  border-top-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_2_1_span {
}

.ETable1_2_2 {
  padding-left: 10pt;
  border-top-width: 0.5pt;
  border-top-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_2_2_span {
}

.ETable1_2_3 {
  padding-left: 10pt;
  border-top-width: 0.5pt;
  border-top-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_2_3_span {
}

.ETable1_2_4 {
  padding-left: 10pt;
  border-top-width: 0.5pt;
  border-top-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_2_4_span {
}

.ETable1_2_5 {
  padding-left: 10pt;
  border-top-width: 0.5pt;
  border-top-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_2_5_span {
}

.ETable1_3_1 {
  text-align: left;
  vertical-align: bottom;
}

.ETable1_3_1_span {
}

.ETable1_3_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_3_2_span {
}

.ETable1_3_3 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_3_3_span {
}

.ETable1_3_4 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_3_4_span {
}

.ETable1_3_5 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_3_5_span {
}

.ETable1_4_1 {
  text-align: left;
  vertical-align: bottom;
}

.ETable1_4_1_span {
}

.ETable1_4_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_4_2_span {
}

.ETable1_4_3 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_4_3_span {
}

.ETable1_4_4 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_4_4_span {
}

.ETable1_4_5 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_4_5_span {
}

.ETable1_5_1 {
  text-align: left;
  vertical-align: bottom;
}

.ETable1_5_1_span {
}

.ETable1_5_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_5_2_span {
}

.ETable1_5_3 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_5_3_span {
}

.ETable1_5_4 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_5_4_span {
}

.ETable1_5_5 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_5_5_span {
}

.ETable1_6_1 {
  text-align: left;
  vertical-align: bottom;
}

.ETable1_6_1_span {
}

.ETable1_6_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_6_2_span {
}

.ETable1_6_3 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_6_3_span {
}

.ETable1_6_4 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_6_4_span {
}

.ETable1_6_5 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_6_5_span {
}

.ETable1_7_1 {
  text-align: left;
  vertical-align: bottom;
}

.ETable1_7_1_span {
}

.ETable1_7_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_7_2_span {
}

.ETable1_7_3 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_7_3_span {
}

.ETable1_7_4 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_7_4_span {
}

.ETable1_7_5 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_7_5_span {
}

.ETable1_8_1 {
  text-align: left;
  vertical-align: bottom;
}

.ETable1_8_1_span {
}

.ETable1_8_2 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_8_2_span {
}

.ETable1_8_3 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_8_3_span {
}

.ETable1_8_4 {
  padding-left: 10pt;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_8_4_span {
}

.ETable1_8_5 {
  padding-left: 10pt;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_8_5_span {
}

.ETable1_9_1 {
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_9_1_span {
}

.ETable1_9_2 {
  padding-left: 10pt;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_9_2_span {
}

.ETable1_9_3 {
  padding-left: 10pt;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_9_3_span {
}

.ETable1_9_4 {
  padding-left: 10pt;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: right;
  vertical-align: bottom;
}

.ETable1_9_4_span {
}

.ETable1_9_5 {
  padding-left: 10pt;
  border-bottom-width: 0.5pt;
  border-bottom-style: solid;
  text-align: left;
  vertical-align: bottom;
}

.ETable1_9_5_span {
}


.ETable_notes {
}
